body {
  /* font-weight: normal; */
}

a {
  color: #A31F34;
  font-weight: 400;
}

.csail-uril a { color: #cc5200 }

a:hover { 
  opacity: 0.75; 
  text-decoration: underline;
}

a h1 { color: #000; }

.credits strong { font-weight: 500; }

h3, #meeting {
  font-size: 1em;
  font-weight: 600;
}

#sidebar h3 { 
  margin-bottom: 0px;
}

.staff { 
  display: flex; 
  align-items: center;
}

.staff p { 
  flex: 2; 
  font-size: 0.9em;
}

.headshot { flex: 1; }

.headshot img {
  width: 100%;
  border-radius: 50px;
  padding-right: 5px;
}

.staff a { 
  color: #000; 
  font-weight: 300;
}

.week p { margin: 0; }

.week ul { 
  margin-top: 5px;
  padding-left: 20px; 
  list-style-type: circle;
  font-size: 0.9em;
  width: 95%;
}

.assigned, .assigned a {
  color: #31c931;
  font-weight: 500;
}

.due, .due a {
  color: coral;
  font-weight: 500;
}

.reading a { color: #333; }
